# Gas Turbine mesurment data processing  
##### 1. Getting the data resady to be preprocessed 
##### 2.  Getting infos for csv data files
##### 3. Converting object data to usefull data-types 
##### 4. Filtering the data

In [1]:
## Importing modules 
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import os

## A.  Getting the data resady to be preprocessed 
1. Explore the data  manually 
2. get the list of the datasets names 
3. Reanme each dataset by its propor name 
4. convert the txt  data to cvs format 
5. Rename data column lables

### 1. Get the list of the datasets names

In [2]:
## define data neccessary path  

data_path =  "../../Data- INST-TC2"
processed_data1 = "../../Data- INST-TC2/processed_data"
processed_data2 = "../../Data- INST-TC2/processed_data2"

# getting the list of files to be processed  
file_list1 = os.listdir(data_path) 
txt_files = [f for f in file_list1 if f.lower().endswith(".txt")]
txt_files

['T1_A26BJ1B.txt',
 'T1_A26BJ2A.txt',
 'T1_A26BJ2B.txt',
 'T1_A26BTAA.txt',
 'T1_A26BTAB.txt',
 'T1_A26BTI.txt',
 'T1_A26CBJ1.txt',
 'T1_A26CBJ2.txt',
 'T1_BB1.txt',
 'T1_BB2.txt',
 'T1_BBH1.txt',
 'T1_BBL1.txt',
 'T1_CPD.txt',
 'T1_CPR.txt',
 'T1_CTD.txt',
 'T1_CTIM.txt',
 'T1_FD_INTENS_3.txt',
 'T1_FD_INTENS_4.txt',
 'T1_FD_INTENS_5.txt',
 'T1_FD_INTENS_6.txt',
 'T1_FD_INTENS_7.txt',
 'T1_FD_INTENS_8.txt',
 'T1_L28FDA.txt',
 'T1_L28FDB.txt',
 'T1_TNH.txt',
 'T1_TNH1.txt',
 'T1_TNH2.txt',
 'T1_TNHAR.txt',
 'T1_TNL.txt',
 'T1_TNLA.txt',
 'T1_TTWS1AO.txt',
 'T1_TTWS1FI.txt',
 'T1_TTXM.txt',
 'T3_PTVIB_A.txt',
 'T3_PTVIB_B.txt',
 'Time,Value,Value Attributes.txt']

### 2. Rename each dataset by its propor name

In [3]:
#1.  Rename the files
def rename_files(file_list):
    """
    this function renames all the txt file with their proper name
    :param path: the path of the txt data files
    :return: None
    """
    file_names = file_list 

    for txt_file in file_names:
        with open(data_path + '/' + txt_file, 'r') as f:
            lines = f.readline().replace('\n', '')
            #   print(lines)
            new_filename = lines.split('\\')[-1].replace('.', '_')
            print(new_filename)
        os.rename(data_path + '/' + txt_file, data_path + '/' + new_filename + '.txt')

In [4]:
#rename_files(txt_files)

### 3. Convert file to csv files

In [5]:
## Convert txt file to csv files 
def convert_to_csv(path):

    # Get a list of all files and directories in the specified path
    file_list = os.listdir(path)
    # Filter only the text files (ending with ".txt")
    file_names = [f for f in file_list if f.lower().endswith(".txt")]
    for file_name in file_names:
        with open(path + '/' + file_name, 'r') as f:
            lines = f.readlines()

        with open(path + '/' + file_name, 'w') as f:
            head = lines[3].replace('\t', ',')
            f.write(head)
            for line in lines[4:]:
                m_line = line.replace('\t', ',').replace(' ', ',')
                f.write(m_line)
        with open(data_path + '/' + file_name, 'r') as f:
            m_lines = f.readlines()
        #
        with open(path + '/' + file_name[:-4] + '.csv', 'w') as csvfile:
            csvfile.writelines(m_lines)

In [6]:
#convert_to_csv(data_path)

In [7]:
##  Perform initial preprocessing (name columns ) 
# save processed datasets to processed_data folder 

def preprocess_data(path):
    proc_path = path + '/processed_data'
    file_inpath = os.listdir(path)
    csv_files = [f for f in file_inpath if f.lower().endswith(".csv")]
    new_column_names = ["Date", "Time", "Value"]
    for csv_file in csv_files:
        new_column_names[-1] = csv_file[:-4]
        data = pd.read_csv(path + "/" + csv_file, on_bad_lines='skip')
        data = data.iloc[::-1]
        data = data.set_axis(new_column_names, axis=1)
        data.to_csv(processed_data1 + '/' + csv_file, index=False, header=True)
        #data = data = pd.read_csv(path + "/" + csv_file, on_bad_lines='skip')

In [8]:
#preprocess_data(data_path)

## B. Process data type 
1. get infos about the data sized and shapes
2. convert object data to relevant data types

### 1. Get infos about the data sized and shapes

In [9]:
file_list2 = os.listdir(processed_data1) 
csv_files = [f for f in file_list2 if f.lower().endswith(".csv")]
for csv_file in csv_files:
    df = pd.read_csv(processed_data1 +"/"+csv_file, on_bad_lines='skip', low_memory=False) 
    print(csv_file[:-4], "shape= ",df.shape)

T1_A26BJ1A shape=  (52607, 3)
T1_A26BJ1B shape=  (52835, 3)
T1_A26BJ2A shape=  (57648, 3)
T1_A26BJ2B shape=  (52475, 3)
T1_A26BTAA shape=  (66194, 3)
T1_A26BTAB shape=  (66082, 3)
T1_A26BTI shape=  (49730, 3)
T1_A26CBJ1 shape=  (58337, 3)
T1_A26CBJ2 shape=  (56983, 3)
T1_BB1 shape=  (1396, 3)
T1_BB2 shape=  (10729, 3)
T1_BBH1 shape=  (1842, 3)
T1_BBL1 shape=  (1034, 3)
T1_CPD shape=  (638, 3)
T1_CPR shape=  (463, 3)
T1_CTD shape=  (47421, 3)
T1_CTIM shape=  (461, 3)
T1_FD_INTENS_3 shape=  (137, 3)
T1_FD_INTENS_4 shape=  (137, 3)
T1_FD_INTENS_5 shape=  (137, 3)
T1_FD_INTENS_6 shape=  (137, 3)
T1_FD_INTENS_7 shape=  (137, 3)
T1_FD_INTENS_8 shape=  (137, 3)
T1_L28FDA shape=  (133, 3)
T1_L28FDB shape=  (133, 3)
T1_TNH shape=  (624, 3)
T1_TNH1 shape=  (1796, 3)
T1_TNH2 shape=  (1804, 3)
T1_TNHAR shape=  (136, 3)
T1_TNL shape=  (406, 3)
T1_TNLA shape=  (225, 3)
T1_TTWS1AO shape=  (136, 3)
T1_TTWS1FI shape=  (16730, 3)
T1_TTXM shape=  (341950, 3)
T3_PTVIB_A shape=  (1324, 3)
T3_PTVIB_B shape=  (1332, 3)

### 2. Convert object data to relevant data types

In [10]:
# function to process uknown time 
def remove_false_time(dataframe):
    '''
    This function removes the row that contains unknown time that can't be converted to timedelta 
    
    ARGUMENT: 
        dataframe: pandas dataframe 
    OUTPUT: 
        tuple  (dataframe, [index, false time]) 
    
    '''
    false_time = [] 
    print("Removing false time ...")
    for i in range(df.shape[0]):
        #print(i)
        try: 
            pd.to_timedelta(df['Time'][i])
           # print("done")
        except: 
            false_time.append((i,df['Time'][i]))
            df.drop(i, inplace=True)
            print("False time solved")
            continue  
    return (df, false_time)
    
#pd.to_timedelta(df['Time'][1])
#df['Time'][3]

In [11]:
# empty dectionary to store dataframes 
dataframes =  {} ; 
#function to convert the column data types to pandas datatypes 
#def convert_topd_datatypes(file_list):
for csv_file in csv_files: 
    print(f"Processing file {csv_files.index(csv_file) + 1} ... ")
    df = pd.read_csv(processed_data1+ "/"+csv_file, on_bad_lines='skip') 
    (df,_) = remove_false_time(df)
    df['Date'] = pd.to_datetime(df['Date'], format='%d-%b-%Y',errors='coerce')
        ## process TIME : 
    df['Time']  = pd.to_timedelta(df['Time'])
    df[csv_file[:-4]] = pd.to_numeric(df[csv_file[:-4]], errors='coerce')
    #df.to_csv(data_path_2 + '/' + file, index=False, header=True)
    dataframes[csv_file[:-4]] = df

Processing file 1 ...
Removing false time ...
Processing file 2 ...
Removing false time ...
Processing file 3 ...
Removing false time ...
Processing file 4 ...
Removing false time ...
Processing file 5 ...
Removing false time ...
Processing file 6 ...
Removing false time ...
Processing file 7 ...
Removing false time ...
False time solved
Processing file 8 ...
Removing false time ...
Processing file 9 ...
Removing false time ...
Processing file 10 ...
Removing false time ...
Processing file 11 ...
Removing false time ...
Processing file 12 ...
Removing false time ...
Processing file 13 ...
Removing false time ...
Processing file 14 ...
Removing false time ...
Processing file 15 ...
Removing false time ...
Processing file 16 ...
Removing false time ...
Processing file 17 ...
Removing false time ...
Processing file 18 ...
Removing false time ...
Processing file 19 ...
Removing false time ...
Processing file 20 ...
Removing false time ...
Processing file 21 ...
Removing false time ...
Processing file 22 ...
Removing false time ...
Processing file 23 ...
Removing false time ...
Processing file 24 ...
Removing false time ...
Processing file 25 ...
Removing false time ...
Processing file 26 ...
Removing false time ...
Processing file 27 ...
Removing false time ...
Processing file 28 ...
Removing false time ...
Processing file 29 ...
Removing false time ...
Processing file 30 ...
Removing false time ...
Processing file 31 ...
Removing false time ...
Processing file 32 ...
Removing false time ...
Processing file 33 ...
Removing false time ...
Processing file 34 ...

C:\Users\Mazou\AppData\Local\Temp\ipykernel_7464\1944462203.py:7: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(processed_data1+ "/"+csv_file, on_bad_lines='skip')

Removing false time ...
Processing file 35 ...
Removing false time ...
Processing file 36 ...
Removing false time ...

## C. Filtering the data
1. Extracting information about the dates and times of the data
1. 1. Extart how many samples per each day for each data
3. get the top most data according to the number of existing days

### Extracting information about the dates and times of the data

In [12]:
df4 = dataframes[csv_files[4][:-4]]
df4['Date'][df4.shape[0]-1]
df4.shape[0]
len(set(df4['Date']))

308

In [13]:
## creating a dicyionary to store the following information about the data frames: 
# first day, last day number of days, and list of all days (a set)
dataframes_info = {} 
for df_key, df in dataframes.items(): 
    print("Processing", df_key, "...")
    #print(" -> First Day")
    first_day = df['Date'][df['Date'].index.start]; 
    #print(" -> Last Day")
    last_day = df['Date'][df['Date'].index.stop -1]
    #print(" -> all Day")
    all_days = set(df['Date'])
    #print(" -> num Day")
    num_days = len(set(df['Date'])) 
    #print("Saving Data ... ")
    dataframes_info[df_key] = { 'First_day' : first_day, 
                                'Last_day'  : last_day, 
                                'All_days'  : all_days, 
                                'Num_days'  : num_days }

Processing T1_A26BJ1A ...
Processing T1_A26BJ1B ...
Processing T1_A26BJ2A ...
Processing T1_A26BJ2B ...
Processing T1_A26BTAA ...
Processing T1_A26BTAB ...
Processing T1_A26BTI ...
Processing T1_A26CBJ1 ...
Processing T1_A26CBJ2 ...
Processing T1_BB1 ...
Processing T1_BB2 ...
Processing T1_BBH1 ...
Processing T1_BBL1 ...
Processing T1_CPD ...
Processing T1_CPR ...
Processing T1_CTD ...
Processing T1_CTIM ...
Processing T1_FD_INTENS_3 ...
Processing T1_FD_INTENS_4 ...
Processing T1_FD_INTENS_5 ...
Processing T1_FD_INTENS_6 ...
Processing T1_FD_INTENS_7 ...
Processing T1_FD_INTENS_8 ...
Processing T1_L28FDA ...
Processing T1_L28FDB ...
Processing T1_TNH ...
Processing T1_TNH1 ...
Processing T1_TNH2 ...
Processing T1_TNHAR ...
Processing T1_TNL ...
Processing T1_TNLA ...
Processing T1_TTWS1AO ...
Processing T1_TTWS1FI ...
Processing T1_TTXM ...
Processing T3_PTVIB_A ...
Processing T3_PTVIB_B ...

### 2. Extart how many samples per each day for each data

In [14]:
## Get the missing days  
missing_days = {}  ## dict to store missing days of each dataframe 
for df_key, info in dataframes_info.items():
    days_list = []   # list to store the missing days  
    first_day = info['First_day']
    last_day = info['Last_day'] 
    all_days = info['All_days']
    days_between = (last_day - first_day).days  # days between dates 
    for day in range(days_between+1): 
        that_day = first_day + pd.to_timedelta(f'{day} day')  
        if that_day not in all_days: 
            days_list.append(that_day)
    missing_days[df_key] = days_list;
    dataframes_info[df_key]['Missing_days'] = days_list
    dataframes_info[df_key]['days_period'] = days_between

In [15]:
## Create a data frame that summarizes the most important infos oabout the data 
Data_info = pd.DataFrame.from_dict(dataframes_info, orient='index')
Data_info.sort_values(by='Num_days', ascending=False, inplace=True)
Data_info.head()

,First_day,Last_day,All_days,Num_days,Missing_days,days_period
T1_A26BJ1A,2023-04-23,2024-03-30,"{2024-01-29 00:00:00, 2024-03-14 00:00:00, 202...",308,"[2023-05-14 00:00:00, 2023-05-15 00:00:00, 202...",342
T1_A26BJ2A,2023-04-23,2024-03-30,"{2024-01-29 00:00:00, 2024-03-14 00:00:00, 202...",308,"[2023-05-14 00:00:00, 2023-05-15 00:00:00, 202...",342
T1_A26BJ2B,2023-04-23,2024-03-30,"{2024-01-29 00:00:00, 2024-03-14 00:00:00, 202...",308,"[2023-05-14 00:00:00, 2023-05-15 00:00:00, 202...",342
T1_A26BTAA,2023-04-23,2024-03-30,"{2024-01-29 00:00:00, 2024-03-14 00:00:00, 202...",308,"[2023-05-14 00:00:00, 2023-05-15 00:00:00, 202...",342
T1_A26BTAB,2023-04-23,2024-03-30,"{2024-01-29 00:00:00, 2024-03-14 00:00:00, 202...",308,"[2023-05-14 00:00:00, 2023-05-15 00:00:00, 202...",342

### 3. Work with the top most data according to the number of existing days

In [48]:
Top_data = Data_info[Data_info['Num_days'] > 300]
Top_data

,First_day,Last_day,All_days,Num_days,Missing_days,days_period
T1_A26BJ1A,2023-04-23,2024-03-30,"{2024-01-29 00:00:00, 2024-03-14 00:00:00, 202...",308,"[2023-05-14 00:00:00, 2023-05-15 00:00:00, 202...",342
T1_A26BJ2A,2023-04-23,2024-03-30,"{2024-01-29 00:00:00, 2024-03-14 00:00:00, 202...",308,"[2023-05-14 00:00:00, 2023-05-15 00:00:00, 202...",342
T1_A26BJ2B,2023-04-23,2024-03-30,"{2024-01-29 00:00:00, 2024-03-14 00:00:00, 202...",308,"[2023-05-14 00:00:00, 2023-05-15 00:00:00, 202...",342
T1_A26BTAA,2023-04-23,2024-03-30,"{2024-01-29 00:00:00, 2024-03-14 00:00:00, 202...",308,"[2023-05-14 00:00:00, 2023-05-15 00:00:00, 202...",342
T1_A26BTAB,2023-04-23,2024-03-30,"{2024-01-29 00:00:00, 2024-03-14 00:00:00, 202...",308,"[2023-05-14 00:00:00, 2023-05-15 00:00:00, 202...",342
T1_A26CBJ1,2023-04-23,2024-03-30,"{2024-01-29 00:00:00, 2024-03-14 00:00:00, 202...",307,"[2023-05-14 00:00:00, 2023-05-15 00:00:00, 202...",342
T1_A26CBJ2,2023-04-23,2024-03-30,"{2024-01-29 00:00:00, 2024-03-14 00:00:00, 202...",307,"[2023-05-14 00:00:00, 2023-05-15 00:00:00, 202...",342
T1_A26BJ1B,2023-04-23,2024-03-30,"{2024-01-29 00:00:00, 2024-03-14 00:00:00, 202...",307,"[2023-05-14 00:00:00, 2023-05-15 00:00:00, 202...",342
T1_BB2,2023-04-23,2024-03-30,"{2024-01-29 00:00:00, 2024-03-14 00:00:00, 202...",307,"[2023-05-14 00:00:00, 2023-05-15 00:00:00, 202...",342
T1_BBL1,2023-04-24,2024-03-30,"{2023-11-14 00:00:00, 2024-02-07 00:00:00, 202...",306,"[2023-05-14 00:00:00, 2023-05-15 00:00:00, 202...",341
T3_PTVIB_A,2023-04-23,2024-03-29,"{2023-11-14 00:00:00, 2024-02-07 00:00:00, 202...",306,"[2023-05-14 00:00:00, 2023-05-15 00:00:00, 202...",341
T3_PTVIB_B,2023-04-23,2024-03-29,"{2023-11-14 00:00:00, 2024-02-07 00:00:00, 202...",306,"[2023-05-14 00:00:00, 2023-05-15 00:00:00, 202...",341
T1_BBH1,2023-04-24,2024-03-30,"{2023-11-14 00:00:00, 2024-02-07 00:00:00, 202...",306,"[2023-05-14 00:00:00, 2023-05-15 00:00:00, 202...",341
T1_BB1,2023-04-24,2024-03-30,"{2023-11-14 00:00:00, 2024-02-07 00:00:00, 202...",306,"[2023-05-14 00:00:00, 2023-05-15 00:00:00, 202...",341

## D. Adjusting data lengths to be equals 
     To do this we need to make sure the all the data recording start and ends  at the same dates, as it can be  observed from the 'Top_data' dataframe there is data that starts at 2023-04-23 and other data starts at 2023-04-24, and data that ends at 2024-03-30 and other ends at  2024-03-29, 
     
 - We need to slice all datasets at with the commun data recording dates

### 1. Inspect the dates  to look for the commun dates

In [46]:
## Inspect the dates  to look for the commun dates 
first_days = Top_data['First_day']
last_days = Top_data['Last_day']
commun_dates = [min(first_days), min(last_days)]

In [47]:
commun_dates

[Timestamp('2023-04-23 00:00:00'), Timestamp('2024-03-29 00:00:00')]

In [51]:
# selct the top data frames 
selcted_data = {} 

for df_key, df in dataframes.items():

            Date                   Time  T1_A26BJ1A
0     2023-04-23 0 days 20:11:43.843750        61.0
1     2023-04-23 0 days 20:23:13.187500        61.0
2     2023-04-23 0 days 20:30:51.656250        61.0
3     2023-04-23 0 days 20:42:20.062500        61.0
4     2023-04-23 0 days 20:51:15.343750        61.0
...          ...                    ...         ...
52602 2024-03-30 0 days 02:51:05.656250        38.0
52603 2024-03-30 0 days 02:57:01.718750        36.0
52604 2024-03-30 0 days 03:07:12.875000        35.0
52605 2024-03-30 0 days 03:17:32.125000        34.0
52606 2024-03-30 0 days 03:41:28.906250        32.0

[52607 rows x 3 columns]