# Gas Turbine mesurment data processing

In [18]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [2]:
## Paths and dirictory for saving processed data 
data_path = "../../Data- INST-TC2/processed_data"
data_path_2 = "../../Data- INST-TC2/processed_data2"

## Getting the data resady to be preprocessed 
1. Explore the data  manually 
2. get the list of the datasets names 
3. Reanme each dataset by its propor name 
4. convert the txt  data to cvs format 
5. Rename data column lables

In [3]:
# getting the list of files to be processed 

file_list = os.listdir(data_path) 
csv_files = [f for f in  file_list if f.lower().endswith(".csv")] 
txt_files = [f for f in file_list if f.lower().endswith(".txt")]

In [4]:
file_list

['T1_A26BJ1A.csv',
 'T1_A26BJ1B.csv',
 'T1_A26BJ2A.csv',
 'T1_A26BJ2B.csv',
 'T1_A26BTAA.csv',
 'T1_A26BTAB.csv',
 'T1_A26BTI.csv',
 'T1_A26CBJ1.csv',
 'T1_A26CBJ2.csv',
 'T1_BB1.csv',
 'T1_BB2.csv',
 'T1_BBH1.csv',
 'T1_BBL1.csv',
 'T1_CPD.csv',
 'T1_CPR.csv',
 'T1_CTD.csv',
 'T1_CTIM.csv',
 'T1_FD_INTENS_3.csv',
 'T1_FD_INTENS_4.csv',
 'T1_FD_INTENS_5.csv',
 'T1_FD_INTENS_6.csv',
 'T1_FD_INTENS_7.csv',
 'T1_FD_INTENS_8.csv',
 'T1_L28FDA.csv',
 'T1_L28FDB.csv',
 'T1_TNH.csv',
 'T1_TNH1.csv',
 'T1_TNH2.csv',
 'T1_TNHAR.csv',
 'T1_TNL.csv',
 'T1_TNLA.csv',
 'T1_TTWS1AO.csv',
 'T1_TTWS1FI.csv',
 'T1_TTXM.csv',
 'T3_PTVIB_A.csv',
 'T3_PTVIB_B.csv']

## Getting infos for  csv data  files

In [5]:
 #Getting-infos-for--csv-data--filesfor csv_file in csv_files:  
data_file = pd.read_csv(data_path +"/"+csv_file, on_bad_lines='skip', low_memory=False) 
print(csv_file[:-4], "shape= ",data_file.shape)

T1_A26BJ1A shape=  (52604, 3)
T1_A26BJ1B shape=  (52832, 3)
T1_A26BJ2A shape=  (57645, 3)
T1_A26BJ2B shape=  (52472, 3)
T1_A26BTAA shape=  (66191, 3)
T1_A26BTAB shape=  (66079, 3)
T1_A26BTI shape=  (49727, 3)
T1_A26CBJ1 shape=  (58334, 3)
T1_A26CBJ2 shape=  (56980, 3)
T1_BB1 shape=  (1393, 3)
T1_BB2 shape=  (10726, 3)
T1_BBH1 shape=  (1839, 3)
T1_BBL1 shape=  (1031, 3)
T1_CPD shape=  (635, 3)
T1_CPR shape=  (460, 3)
T1_CTD shape=  (47418, 3)
T1_CTIM shape=  (458, 3)
T1_FD_INTENS_3 shape=  (134, 3)
T1_FD_INTENS_4 shape=  (134, 3)
T1_FD_INTENS_5 shape=  (134, 3)
T1_FD_INTENS_6 shape=  (134, 3)
T1_FD_INTENS_7 shape=  (134, 3)
T1_FD_INTENS_8 shape=  (134, 3)
T1_L28FDA shape=  (130, 3)
T1_L28FDB shape=  (130, 3)
T1_TNH shape=  (621, 3)
T1_TNH1 shape=  (1793, 3)
T1_TNH2 shape=  (1801, 3)
T1_TNHAR shape=  (133, 3)
T1_TNL shape=  (403, 3)
T1_TNLA shape=  (222, 3)
T1_TTWS1AO shape=  (133, 3)
T1_TTWS1FI shape=  (16727, 3)
T1_TTXM shape=  (341947, 3)
T3_PTVIB_A shape=  (1321, 3)
T3_PTVIB_B shape=  (1329, 3)

In [6]:
# for csv_file in csv_files: 
#     print("Processing file: ", csv_files.index(csv_file), ": ", csv_file[:-4])
#     df = pd.read_csv(data_path+"/"+csv_file, on_bad_lines='skip', low_memory=False)  
#     print("DATE PROCESSING ...")
#     pd.to_datetime(df['Date'], format='%d-%b-%Y',errors='coerce'); 
#     print("TIME PROCESSING ...")
#     pd.to_timedelta(df['Time'])
#     print("VALUES PROCESSING ...")
#     pd.to_numeric(df[csv_file[:-4]], errors='coerce')

##  Converting data to relevent data types

In [7]:
#df = pd.read_csv(data_path+"/"+ "T1_A26BTI.csv", on_bad_lines='skip', low_memory=False) 
#pd.to_datetime(df['Date'], format='%d-%b-%Y',errors='coerce'); 
# function to process uknown time 
def remove_false_time(dataframe):
    '''
    This function removes the row that contains unknown time that can't be converted to timedelta 
    
    ARGUMENT: 
        dataframe: pandas dataframe 
    OUTPUT: 
        tuple  (dataframe, [index, false time]) 
    
    '''
    false_time = [] 
    print("Removing false time ...")
    for i in range(df.shape[0]):
        #print(i)
        try: 
            pd.to_timedelta(df['Time'][i])
           # print("done")
        except: 
            false_time.append((i,df['Time'][i]))
            df.drop(i, inplace=True)
            print("False time solved")
            continue  
    return (df, false_time)
    
#pd.to_timedelta(df['Time'][1])
#df['Time'][3]

In [8]:
# empty dectionary to store dataframes 
dataframes =  {} ; 
#function to convert the column data types to pandas datatypes 
#def convert_topd_datatypes(file_list):
for file in csv_files: 
    print(f"Processing file {file_list.index(file) + 1} ... ")
    df = pd.read_csv(data_path+ "/"+file, on_bad_lines='skip') 
    (df,_) = remove_false_time(df)
    df['Date'] = pd.to_datetime(df['Date'], format='%d-%b-%Y',errors='coerce')
        ## process TIME : 
    df['Time']  = pd.to_timedelta(df['Time'])
    df[file[:-4]] = pd.to_numeric(df[file[:-4]], errors='coerce')
    #df.to_csv(data_path_2 + '/' + file, index=False, header=True)
    dataframes[file[:-4]] = df

Processing file 1 ...
Removing false time ...
Processing file 2 ...
Removing false time ...
Processing file 3 ...
Removing false time ...
Processing file 4 ...
Removing false time ...
Processing file 5 ...
Removing false time ...
Processing file 6 ...
Removing false time ...
Processing file 7 ...
Removing false time ...
False time solved
Processing file 8 ...
Removing false time ...
Processing file 9 ...
Removing false time ...
Processing file 10 ...
Removing false time ...
Processing file 11 ...
Removing false time ...
Processing file 12 ...
Removing false time ...
Processing file 13 ...
Removing false time ...
Processing file 14 ...
Removing false time ...
Processing file 15 ...
Removing false time ...
Processing file 16 ...
Removing false time ...
Processing file 17 ...
Removing false time ...
Processing file 18 ...
Removing false time ...
Processing file 19 ...
Removing false time ...
Processing file 20 ...
Removing false time ...
Processing file 21 ...
Removing false time ...
Processing file 22 ...
Removing false time ...
Processing file 23 ...
Removing false time ...
Processing file 24 ...
Removing false time ...
Processing file 25 ...
Removing false time ...
Processing file 26 ...
Removing false time ...
Processing file 27 ...
Removing false time ...
Processing file 28 ...
Removing false time ...
Processing file 29 ...
Removing false time ...
Processing file 30 ...
Removing false time ...
Processing file 31 ...
Removing false time ...
Processing file 32 ...
Removing false time ...
Processing file 33 ...
Removing false time ...
Processing file 34 ...

C:\Users\Mazou\AppData\Local\Temp\ipykernel_12716\465038806.py:7: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(data_path+ "/"+file, on_bad_lines='skip')

Removing false time ...
Processing file 35 ...
Removing false time ...
Processing file 36 ...
Removing false time ...

## Filtering the data

In [9]:
df4 = dataframes[csv_files[4][:-4]]
df4['Date'][df4.shape[0]-1]
df4.shape[0]
len(set(df4['Date']))

308

### Extracting information about the dates and times of the data

In [10]:
## creating a dicyionary to store the following information about the data frames: 
# first day, last day number of days, and list of all days (a set)
dataframes_info = {} 
for df_key, df in dataframes.items(): 
    print("Processing", df_key, "...")
    #print(" -> First Day")
    first_day = df['Date'][df['Date'].index.start]; 
    #print(" -> Last Day")
    last_day = df['Date'][df['Date'].index.stop -1]
    #print(" -> all Day")
    all_days = set(df['Date'])
    #print(" -> num Day")
    num_days = len(set(df['Date'])) 
    #print("Saving Data ... ")
    dataframes_info[df_key] = { 'First_day' : first_day, 
                                'Last_day'  : last_day, 
                                'All_days'  : all_days, 
                                'Num_days'  : num_days }

Processing T1_A26BJ1A ...
Processing T1_A26BJ1B ...
Processing T1_A26BJ2A ...
Processing T1_A26BJ2B ...
Processing T1_A26BTAA ...
Processing T1_A26BTAB ...
Processing T1_A26BTI ...
Processing T1_A26CBJ1 ...
Processing T1_A26CBJ2 ...
Processing T1_BB1 ...
Processing T1_BB2 ...
Processing T1_BBH1 ...
Processing T1_BBL1 ...
Processing T1_CPD ...
Processing T1_CPR ...
Processing T1_CTD ...
Processing T1_CTIM ...
Processing T1_FD_INTENS_3 ...
Processing T1_FD_INTENS_4 ...
Processing T1_FD_INTENS_5 ...
Processing T1_FD_INTENS_6 ...
Processing T1_FD_INTENS_7 ...
Processing T1_FD_INTENS_8 ...
Processing T1_L28FDA ...
Processing T1_L28FDB ...
Processing T1_TNH ...
Processing T1_TNH1 ...
Processing T1_TNH2 ...
Processing T1_TNHAR ...
Processing T1_TNL ...
Processing T1_TNLA ...
Processing T1_TTWS1AO ...
Processing T1_TTWS1FI ...
Processing T1_TTXM ...
Processing T3_PTVIB_A ...
Processing T3_PTVIB_B ...

#### Extart how many samples per each day for each data

In [11]:
## Get the missing days  
missing_days = {}  ## dict to store missing days of each dataframe 
for df_key, info in dataframes_info.items():
    days_list = []   # list to store the missing days  
    first_day = info['First_day']
    last_day = info['Last_day'] 
    all_days = info['All_days']
    days_between = (last_day - first_day).days  # days between dates 
    for day in range(days_between+1): 
        that_day = first_day + pd.to_timedelta(f'{day} day')  
        if that_day not in all_days: 
            days_list.append(that_day)
    missing_days[df_key] = days_list;
    dataframes_info[df_key]['Missing_days'] = days_list
    dataframes_info[df_key]['days_period'] = days_between

In [12]:
## Create a data frame that summarizes the most important infos oabout the data 
Data_info = pd.DataFrame.from_dict(dataframes_info, orient='index')
Data_info.head()

,First_day,Last_day,All_days,Num_days,Missing_days,days_period
T1_A26BJ1A,2023-04-23,2024-03-30,"{2023-09-22 00:00:00, 2023-08-28 00:00:00, 202...",308,"[2023-05-14 00:00:00, 2023-05-15 00:00:00, 202...",342
T1_A26BJ1B,2023-04-23,2024-03-30,"{2023-09-22 00:00:00, 2023-08-28 00:00:00, 202...",307,"[2023-05-14 00:00:00, 2023-05-15 00:00:00, 202...",342
T1_A26BJ2A,2023-04-23,2024-03-30,"{2023-09-22 00:00:00, 2023-08-28 00:00:00, 202...",308,"[2023-05-14 00:00:00, 2023-05-15 00:00:00, 202...",342
T1_A26BJ2B,2023-04-23,2024-03-30,"{2023-09-22 00:00:00, 2023-08-28 00:00:00, 202...",308,"[2023-05-14 00:00:00, 2023-05-15 00:00:00, 202...",342
T1_A26BTAA,2023-04-23,2024-03-30,"{2023-09-22 00:00:00, 2023-08-28 00:00:00, 202...",308,"[2023-05-14 00:00:00, 2023-05-15 00:00:00, 202...",342

In [13]:
Data_info.sort_values(by='Num_days', ascending=False, inplace=True)

In [14]:
Data_info.head()

,First_day,Last_day,All_days,Num_days,Missing_days,days_period
T1_A26BJ1A,2023-04-23,2024-03-30,"{2023-09-22 00:00:00, 2023-08-28 00:00:00, 202...",308,"[2023-05-14 00:00:00, 2023-05-15 00:00:00, 202...",342
T1_A26BJ2A,2023-04-23,2024-03-30,"{2023-09-22 00:00:00, 2023-08-28 00:00:00, 202...",308,"[2023-05-14 00:00:00, 2023-05-15 00:00:00, 202...",342
T1_A26BJ2B,2023-04-23,2024-03-30,"{2023-09-22 00:00:00, 2023-08-28 00:00:00, 202...",308,"[2023-05-14 00:00:00, 2023-05-15 00:00:00, 202...",342
T1_A26BTAA,2023-04-23,2024-03-30,"{2023-09-22 00:00:00, 2023-08-28 00:00:00, 202...",308,"[2023-05-14 00:00:00, 2023-05-15 00:00:00, 202...",342
T1_A26BTAB,2023-04-23,2024-03-30,"{2023-09-22 00:00:00, 2023-08-28 00:00:00, 202...",308,"[2023-05-14 00:00:00, 2023-05-15 00:00:00, 202...",342

####  Work with the top most data according to the number of existing days

In [15]:
Top_data = Data_info[Data_info['Num_days'] > 300]
Top_data

,First_day,Last_day,All_days,Num_days,Missing_days,days_period
T1_A26BJ1A,2023-04-23,2024-03-30,"{2023-09-22 00:00:00, 2023-08-28 00:00:00, 202...",308,"[2023-05-14 00:00:00, 2023-05-15 00:00:00, 202...",342
T1_A26BJ2A,2023-04-23,2024-03-30,"{2023-09-22 00:00:00, 2023-08-28 00:00:00, 202...",308,"[2023-05-14 00:00:00, 2023-05-15 00:00:00, 202...",342
T1_A26BJ2B,2023-04-23,2024-03-30,"{2023-09-22 00:00:00, 2023-08-28 00:00:00, 202...",308,"[2023-05-14 00:00:00, 2023-05-15 00:00:00, 202...",342
T1_A26BTAA,2023-04-23,2024-03-30,"{2023-09-22 00:00:00, 2023-08-28 00:00:00, 202...",308,"[2023-05-14 00:00:00, 2023-05-15 00:00:00, 202...",342
T1_A26BTAB,2023-04-23,2024-03-30,"{2023-09-22 00:00:00, 2023-08-28 00:00:00, 202...",308,"[2023-05-14 00:00:00, 2023-05-15 00:00:00, 202...",342
T1_A26CBJ1,2023-04-23,2024-03-30,"{2023-09-22 00:00:00, 2023-08-28 00:00:00, 202...",307,"[2023-05-14 00:00:00, 2023-05-15 00:00:00, 202...",342
T1_A26CBJ2,2023-04-23,2024-03-30,"{2023-09-22 00:00:00, 2023-08-28 00:00:00, 202...",307,"[2023-05-14 00:00:00, 2023-05-15 00:00:00, 202...",342
T1_A26BJ1B,2023-04-23,2024-03-30,"{2023-09-22 00:00:00, 2023-08-28 00:00:00, 202...",307,"[2023-05-14 00:00:00, 2023-05-15 00:00:00, 202...",342
T1_BB2,2023-04-23,2024-03-29,"{2023-09-22 00:00:00, 2023-08-28 00:00:00, 202...",306,"[2023-05-14 00:00:00, 2023-05-15 00:00:00, 202...",341
T3_PTVIB_A,2023-04-23,2024-03-29,"{2023-09-22 00:00:00, 2023-08-28 00:00:00, 202...",306,"[2023-05-14 00:00:00, 2023-05-15 00:00:00, 202...",341
T3_PTVIB_B,2023-04-23,2024-03-29,"{2023-09-22 00:00:00, 2023-08-28 00:00:00, 202...",306,"[2023-05-14 00:00:00, 2023-05-15 00:00:00, 202...",341
T1_BBH1,2023-04-24,2024-03-29,"{2023-09-22 00:00:00, 2023-08-28 00:00:00, 202...",305,"[2023-05-14 00:00:00, 2023-05-15 00:00:00, 202...",340
T1_BB1,2023-04-24,2024-03-29,"{2023-09-22 00:00:00, 2023-08-28 00:00:00, 202...",305,"[2023-05-14 00:00:00, 2023-05-15 00:00:00, 202...",340
T1_BBL1,2023-04-24,2024-03-29,"{2023-09-22 00:00:00, 2023-08-28 00:00:00, 202...",305,"[2023-05-14 00:00:00, 2023-05-15 00:00:00, 202...",340

In [16]:
for i in range(14): 
    eq = Top_data.iloc[5,4] == Top_data.iloc[i,4]
    print(eq)

False
False
False
False
False
True
True
True
True
True
True
True
True
True

####  Adjusting data lengths to be equals 
##### 1.  make all datasets start from  2023-04-23 to 	2024-03-29
##### 2. first  we need to remove last  day (row) the 8 top datasets 
##### 3. Remove the first day from the least 3 dataest

In [17]:
## Removing the last date from the  top 8 datasets 
for data_name in Top_data.index: 
    print(data_name)

T1_A26BJ1A
T1_A26BJ2A
T1_A26BJ2B
T1_A26BTAA
T1_A26BTAB
T1_A26CBJ1
T1_A26CBJ2
T1_A26BJ1B
T1_BB2
T3_PTVIB_A
T3_PTVIB_B
T1_BBH1
T1_BB1
T1_BBL1